.counter {
  display: grid;
  grid-template-columns: 1fr min-content;
  height: 100px;
}

.counter-count {
  font-size: 5rem;
  height: 100px;
  text-align: center;
  border: 1px solid lightgray;
  margin-right: 10px;
}

.counter-buttons {
  display: flex;
  flex-direction: column;
}

.increment-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #92bdc5;
  background-color: #a3e7f4;
}

.decrement-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c57673;
  background-color: #eca3a7;
}
